@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

body {
    color: #5C5050;
    font-family: "Montserrat", "Lato", "Arial", "sans-serif";
    background-color:#ECEEEB;
    font-size: 1vw;
    
}


.navbar-default {
    margin-bottom:0px;
}

#index-banner-area {
    background-image: url("../res/chalkbaby.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size:100%;
    color:white;
    text-shadow:0.1vw 0.1vw black;
    padding-bottom: 10%;
    text-align: right;
}

#index-banner-area h1 {
    font-size: 8vw;
}

#index-banner-area p {
    font-size: 2.5vw;
}

#banner-area {
    background-position: top center;
    background-repeat: no-repeat;
    background-size:100%;
    color:white;
    text-shadow:0.1vw 0.1vw black;
    padding-bottom: 10%;
    text-align: right;
}

#banner-area h1 {
    font-size: 8vw;
}

#banner-area p {
    font-size: 2.5vw;
}

.btn-primary {
    background-color: #8D928B;
    border-color: #8D928B;
    color: #F2F2F2;
}

.btn-primary:hover {
    background-color: #5C5050;
}

.btn-secondary {
    background-color: Transparent;
    border: none;
    color: #5C5050;
    font-size:1.3em;
}

.btn-secondary:hover {
    background-color: #5C5050;
    color: #F2F2F2;
}

.btn-secondary:focus,.btn-secondary:active {
    border:none;
    outline: none;
    
}

.jumbotron {
    background-color: white;
    margin-top:2rem;
}

.input-parent,.input-child {
    padding: 1rem;
    border-style: solid;
    border-width: 0.2rem;
    border-radius: 1rem;
    border-color:#5C5050;
    background-color:white;
}


.input-row,.direction-row {
    margin-top: 2rem;
}

.resources-section {
    margin-top: 2rem;
}


.output {
    display: none;
}

.output-unselected {
    display: inline;
}


#footer-link-list {
    margin: auto;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 2em;
    
}

#footer-link-list li {
    display: inline;
    list-style-type: none;
}

#footer-link-list li + li:before {
    content: "     \2022     ";
}

.collapse-button {
    margin-bottom:1rem;
}

.headshot {
    width:100%;
    padding:1rem;
}

#brand-img {
    height:150%;
}

.banner-left h1,.banner-left p {
    text-align: left;
}





