@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/css?family=Arial:400,700);

body {
    color: #5C5050;
    font-family: "Montserrat", "Lato", "Arial", "sans-serif";
    background-color:#ECEEEB;
    
}


.navbar-default {
    margin-bottom:0px;
}

#index-banner-area {
    background-image: url("../res/chalkbaby.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
    color:white;
    text-shadow:2px 2px black;
    padding-bottom: 20rem;
    text-align: right;
}

#index-banner-area h1 {
    font-size: 10rem;
}

#index-banner-area p {
    font-size: 3rem;
}


.btn-primary {
    background-color: #8D928B;
    border-color: #8D928B;
    color: #F2F2F2;
}

.btn-primary:hover {
    background-color: #5C5050;
}

.jumbotron {
    background-color: white;
}

.input-parent,.input-child {
    padding: 1rem;
    border-style: solid;
    border-radius: 1rem;
    border-color:#5C5050;
    background-color: white;
}

.input-row {
    margin-top: 2rem;
}

.resources-section {
    margin-top: 2rem;
}


.output {
    display: none;
}

.output-unselected {
    display: inline;
}

#footer-link-list {
    margin: auto;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 2em;
    
}

#footer-link-list li {
    display: inline;
    list-style-type: none;
}

#footer-link-list li + li:before {
    content: "     \2022     ";
}


